.container__menu-bar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
}

.menu-bar__center{
  display: flex;
  justify-content: center;
}

.menu-bar__center > ul{
  display: flex;
  flex-direction: row;
}

.menu-bar__center > ul > li{
  margin-right: 20px;
  list-style: none;
}

